<app-AppHeader></app-AppHeader>

<main>
  <div class="logo">
    <app-LogoPokedex [width]="logoWidth"></app-LogoPokedex>
  </div>
  <div class="search">
    <div class="search-bar">
      <input
      type="text"
      class="search-input"
      [(ngModel)]="searchTerm"
      placeholder="Search eg, ditto or pikachu"
      (ngModelChange)="onClearInput(searchTerm)"
      (keydown.enter)="onSearchChange(searchTerm)"
    />
    </div>
    <button class="search-button" (click)="onSearchChange(searchTerm)" [disabled]="searchTerm.length < 3">
      <span class="material-symbols-outlined">search</span>
    </button>
  </div>


  <div class="grid" *ngIf="!noItemsFound; else noItemsTemplate">
    @for (pokemon of pokemons; track pokemon.id) {
    <div class="grid-card" [id]="pokemon.id">
      <app-PokemonCard [id]="pokemon.id" [name]="pokemon.name"
        [description]="getDescription(pokemon.flavor_text_entries)" [number]="pokemon.id.toString()"
        [imageUrl]="pokemon.sprites.front_default" [types]="pokemon.types"></app-PokemonCard>
    </div>
    }
  </div>

  <ng-template #noItemsTemplate>
    <p class="message-report">No items found!</p>
  </ng-template>
</main>
